@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: hsl(30, 38%, 92%);
    height: 100vh;  
}

.card{
    display: flex;
    width: 600px;
    height: 500px;
    background-color: white;
    border-radius: 1em;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.article{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    margin: 0px 2rem;  
}

p{
    line-height: 1.6;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.high{
    text-decoration: line-through;
}

button{
    background-color: hsl(158, 36%, 37%);
    height: 36px;
    border-radius: 0.5em;
    color: white;
    font-family: 'Montserrat', sans-serif;
 }

 h1, h2{
    font-family: 'Fraunces', serif;
    font-weight: 700;
 }

h2{
    color: hsl(158, 36%, 37%);
    font-size: 26px;
}